<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="admin">

	<!--☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ 멤버 START ☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ -->
	<select id="selectMemberList" parameterType="map" resultType="Member">
		SELECT
			M.MEM_NO,
			M.MEM_ID,
			M.STUDENT_NO,
			M.MEM_NAME,
			D.DEPT_NAME,
			U.UNI_NAME,
			M.PHONE,
			M.CREATE_DATE,
			M.STATUS
		FROM MEMBER M
		LEFT JOIN
		DEPARTMENT D ON M.DEPT_NO = D.DEPT_NO
		LEFT JOIN UNIVERSITY U ON
		D.UNI_NO = U.UNI_NO
		WHERE M.MEM_NO != 0

		<if test="uniNo != null and uniNo != 0">
			AND U.UNI_NO = #{uniNo}
		</if>
		AND (
		(
		M.STATUS = 'Y'
		AND EXISTS (
		SELECT 1
		FROM AUTHORITIES A
		WHERE
		A.MEM_NO = M.MEM_NO
		AND A.AUTHORITY = 'ROLE_USER'
		)
		)
		OR M.STATUS = 'B'
		OR
		M.STATUS = 'N'
		)

		<if test="keyword != null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'all'">
					(
					M.MEM_ID LIKE '%' || #{keyword} || '%'
					OR M.MEM_NAME
					LIKE '%' ||
					#{keyword} || '%'
					OR M.STUDENT_NO LIKE '%' || #{keyword}
					|| '%'
					OR
					M.PHONE LIKE '%' || #{keyword} || '%'
					OR M.STATUS LIKE '%'
					||
					#{keyword} || '%'
					)
				</when>
				<when test="condition == 'memId'">
					M.MEM_ID LIKE '%' || #{keyword} || '%'
				</when>
				<when test="condition == 'memName'">
					M.MEM_NAME LIKE '%' || #{keyword} || '%'
				</when>
				<when test="condition == 'studentNo'">
					M.STUDENT_NO LIKE '%' || #{keyword} || '%'
				</when>
				<when test="condition == 'phone'">
					M.PHONE LIKE '%' || #{keyword} || '%'
				</when>
				<when test="condition == 'status'">
					M.STATUS = #{keyword}
				</when>
			</choose>
		</if>

		ORDER BY M.MEM_NO
	</select>

	<update id="updateMemberStatus" parameterType="map">
		UPDATE MEMBER
		SET STATUS = #{status}
		WHERE MEM_NO = #{memNo}
		<if test="uniNo != 0">
			AND DEPT_NO IN (
			SELECT DEPT_NO
			FROM DEPARTMENT
			WHERE UNI_NO
			= #{uniNo}
			)
		</if>
	</update>

	<insert id="insertAuthority" parameterType="map">
		INSERT INTO
		AUTHORITIES (MEM_NO, AUTHORITY, UNI_NO)
		SELECT #{memNo}, #{authority},
		D.UNI_NO
		FROM MEMBER M
		JOIN DEPARTMENT D ON M.DEPT_NO = D.DEPT_NO
		WHERE
		M.MEM_NO = #{memNo}
	</insert>

	<select id="countAuthority" parameterType="map" resultType="int">
		SELECT COUNT(*)
		FROM AUTHORITIES
		WHERE MEM_NO = #{memNo}
		AND AUTHORITY =
		#{authority}
		<if test="uniNo != 0">
			AND UNI_NO = #{uniNo}
		</if>
	</select>

	<delete id="deleteAuthority" parameterType="map">
		DELETE FROM AUTHORITIES
		WHERE MEM_NO = #{memNo}
		AND AUTHORITY =
		#{authority}
		<if test="uniNo != 0">
			AND UNI_NO = #{uniNo}
		</if>
	</delete>

	<select id="selectMemberJoinList" parameterType="map"
		resultType="Member">
		SELECT
			M.MEM_NO,
			M.MEM_ID,
			M.STUDENT_NO,
			M.MEM_NAME,
			D.DEPT_NAME,
			U.UNI_NAME,
			M.PHONE,
			M.CREATE_DATE,
			M.STATUS
		FROM MEMBER M
		LEFT JOIN
		DEPARTMENT D ON M.DEPT_NO = D.DEPT_NO
		LEFT JOIN UNIVERSITY U ON
		D.UNI_NO = U.UNI_NO
		<where>
			M.MEM_NO != 0

			<if test="uniNo != null and uniNo != 0">
				AND U.UNI_NO = #{uniNo}
			</if>

			AND M.STATUS = 'Y'
			AND NOT EXISTS (
			SELECT 1
			FROM AUTHORITIES A
			WHERE
			A.MEM_NO = M.MEM_NO
			AND
			A.AUTHORITY = 'ROLE_USER'
			)

			<if test="keyword != null and keyword != ''">
				AND
				<choose>
					<when test="condition == 'all'">
						(
						M.MEM_ID LIKE '%' || #{keyword} || '%'
						OR
						M.MEM_NAME LIKE '%' ||
						#{keyword} || '%'
						OR TO_CHAR(M.STUDENT_NO)
						LIKE '%' || #{keyword}
						|| '%'
						OR M.PHONE LIKE '%' || #{keyword} ||
						'%'
						)
					</when>
					<when test="condition == 'memId'">
						M.MEM_ID LIKE '%' || #{keyword} || '%'
					</when>
					<when test="condition == 'memName'">
						M.MEM_NAME LIKE '%' || #{keyword} || '%'
					</when>
					<when test="condition == 'studentNo'">
						TO_CHAR(M.STUDENT_NO) LIKE '%' || #{keyword} || '%'
					</when>
					<when test="condition == 'phone'">
						M.PHONE LIKE '%' || #{keyword} || '%'
					</when>
					<otherwise>
						(
						M.MEM_ID LIKE '%' || #{keyword} || '%'
						OR M.MEM_NAME
						LIKE '%' ||
						#{keyword} || '%'
						OR TO_CHAR(M.STUDENT_NO) LIKE '%' ||
						#{keyword}
						|| '%'
						OR M.PHONE LIKE '%' || #{keyword} || '%'
						)
					</otherwise>
				</choose>
			</if>
		</where>
		ORDER BY M.MEM_NO
	</select>

	<update id="updateMemberJoin" parameterType="map">
		UPDATE MEMBER
		SET STATUS = #{status}
		WHERE MEM_NO = #{memNo}
		<if test="uniNo != 0">
			AND DEPT_NO IN (
			SELECT DEPT_NO
			FROM DEPARTMENT
			WHERE UNI_NO
			= #{uniNo}
			)
		</if>
	</update>

	<update id="rejectMemberJoin" parameterType="int">
		UPDATE MEMBER
		SET STATUS = 'N'
		WHERE MEM_NO = #{memNo}
	</update>
	<!--★★★★★★★★★★★★★★★★★ 멤버 END ★★★★★★★★★★★★★★★★★ -->

	<!--☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ 학과 START ☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ -->
	<select id="selectDepartmentList" parameterType="map" resultType="Department">
		SELECT
			D.DEPT_NO,
			D.DEPT_NAME,
			D.UNI_NO,
			U.UNI_NAME
		FROM DEPARTMENT D
		JOIN
		UNIVERSITY U ON D.UNI_NO = U.UNI_NO
		<where>
			<if test="uniNo != 0">
				D.UNI_NO = #{uniNo}
			</if>

			<if test="keyword != null and keyword != ''">
				AND
				<choose>
					<when test="condition == 'deptName'">
						D.DEPT_NAME LIKE '%' || #{keyword} || '%'
					</when>
					<when test="condition == 'uniName'">
						U.UNI_NAME LIKE '%' || #{keyword} || '%'
					</when>
				</choose>
			</if>
		</where>
		ORDER BY D.DEPT_NAME ASC
	</select>

	<insert id="insertDepartment">
		<selectKey keyProperty="deptNo" resultType="int" order="BEFORE">
			SELECT SEQ_DEPT.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO DEPARTMENT
		VALUES(
		#{deptNo},
		#{uniNo},
		#{deptName}
		)
	</insert>

	<update id="updateDepartment">
		UPDATE DEPARTMENT
		SET DEPT_NAME = #{deptName}
		WHERE
		DEPT_NO = #{deptNo}
	</update>

	<delete id="deleteDepartment">
		DELETE FROM DEPARTMENT
		WHERE DEPT_NO = #{deptNo}
	</delete>
	<!--★★★★★★★★★★★★★★★★★ 학과 END ★★★★★★★★★★★★★★★★★ -->

	<!--☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ 강의 START ☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ -->
	<select id="selectLectureList" parameterType="map" resultType="Lecture">
	SELECT
		L.LECTURE_NO,
		L.DEPT_NO,
		U.UNI_NAME,
		D.DEPT_NAME,
		L.LECTURE_NAME,
		L.PROFESSOR_NAME
	FROM LECTURE L
	LEFT JOIN DEPARTMENT D ON L.DEPT_NO = D.DEPT_NO
	LEFT JOIN
	UNIVERSITY U ON D.UNI_NO = U.UNI_NO
	<where>
		<if test="uniNo != 0">
			D.UNI_NO = #{uniNo}
		</if>

		<if test="keyword != null and keyword != ''">
			AND
			<choose>
				<when test="condition == 'deptName'">
					D.DEPT_NAME LIKE '%' || #{keyword} || '%'
				</when>
				<when test="condition == 'lectureName'">
					L.LECTURE_NAME LIKE '%' || #{keyword} || '%'
				</when>
				<when test="condition == 'professorName'">
					L.PROFESSOR_NAME LIKE '%' || #{keyword} || '%'
				</when>
				<otherwise>
					(
					D.DEPT_NAME LIKE '%' || #{keyword} || '%'
					OR L.LECTURE_NAME LIKE '%' || #{keyword} || '%'
					OR L.PROFESSOR_NAME LIKE '%' || #{keyword} || '%'
					)
				</otherwise>
			</choose>
		</if>
	</where>
		ORDER BY L.LECTURE_NO DESC
	</select>

	<insert id="insertLecture">
		INSERT INTO LECTURE
		VALUES(
		SEQ_LECTURE.NEXTVAL,
		#{deptNo},
		#{lectureName},
		#{professorName}
		)
	</insert>
	
	<update id="updateLecture" parameterType="Lecture">
		UPDATE LECTURE
		SET LECTURE_NAME = #{lectureName},
			PROFESSOR_NAME = #{professorName}
		WHERE LECTURE_NO = #{lectureNo}
	</update>

	<delete id="deleteLecture" parameterType="int">
		DELETE FROM LECTURE
		WHERE LECTURE_NO = #{lectureNo}
	</delete>
	<!--★★★★★★★★★★★★★★★★★ 강의 END ★★★★★★★★★★★★★★★★★ -->
	
	<!--☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ 게시판 START ☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ -->
	<select id="selectBoardList" parameterType="map" resultType="Board">
		SELECT 
			B.BOARD_NO,
			B.BOARD_TITLE,
			M.MEM_NAME AS BOARD_WRITER_NAME,
			B.CREATE_DATE,
			B.STATUS,
			BT.BTYPE_NAME,
			U.UNI_NAME
		FROM BOARD B 
		LEFT JOIN UNI_BOARD_TYPE UBT ON B.UBTYPE_NO = UBT.UBTYPE_NO
		LEFT JOIN BOARD_TYPE BT ON UBT.BTYPE_NO = BT.BTYPE_NO
		LEFT JOIN MEMBER M ON B.BOARD_WRITER = M.MEM_NO
		LEFT JOIN UNIVERSITY U ON UBT.UNI_NO = U.UNI_NO
		
	
		<where>
		
			    <if test="keyword == null or keyword == ''">
			        B.STATUS = 'Y'
			    </if>
			    
				<if test="uniNo != 0">
					AND	UBT.UNI_NO = #{uniNo}
				</if>
				
				<if test="keyword != null and keyword != ''">
					AND
					<choose>
						<when test="condition == 'boardTitle'">
							B.BOARD_TITLE LIKE '%' || #{keyword} || '%'
						</when>
						<when test="condition == 'boardWriterName'">
							M.MEM_NAME LIKE '%' || #{keyword} || '%'
						</when>
						<when test="condition == 'categoryName'">
							BT.BTYPE_NAME LIKE '%' || #{keyword} || '%'
						</when>
						<when test="condition == 'uniName'">
							U.UNI_NAME LIKE '%' || #{keyword} || '%'
						</when>
						<when test="condition == 'status'">
							B.status LIKE '%' || #{keyword} || '%'
						</when>
						<otherwise>
							(
								B.BOARD_TITLE LIKE '%' || #{keyword} || '%'
								OR B.BOARD_WRITER LIKE '%' || #{keyword} || '%'
								OR BT.BTYPE_NAME LIKE '%' || #{keyword} || '%'
								OR U.UNI_NAME LIKE '%' || #{keyword} || '%'
								OR B.STATUS LIKE '%' || #{keyword} || '%'
							)
						</otherwise>
					</choose>
				</if>
			</where>
			ORDER BY B.BOARD_NO DESC
		</select>
		
		<delete id="deleteReport" parameterType="int">
			DELETE FROM REPORT
			WHERE REPORT_NO = #{reportNo}
		</delete>
	
	<!--★★★★★★★★★★★★★★★★★ 게시판 END ★★★★★★★★★★★★★★★★★ -->
	
	<!--☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ 학교관리 START ☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ -->
		<select id="selectUniList" resultType="University">
		SELECT u.uni_no, u.uni_name, m.mem_id, (
		    SELECT COUNT(*)
		    FROM member m
		    JOIN department d ON m.dept_no = d.dept_no
		    WHERE d.uni_no = u.uni_no
		    AND d.dept_no != 0
		) AS count, u.status
		FROM university u
		LEFT JOIN department d ON u.uni_no = d.uni_no
		LEFT JOIN member m ON d.dept_no = m.dept_no
		WHERE d.dept_name = '공통교양'
		<if test='"uniName".equals(condition)'>
			AND u.uni_name LIKE '%' || #{keyword} || '%'
		</if>
		<if test='"memId".equals(condition)'>
			AND m.mem_id LIKE '%' || #{keyword} || '%'
		</if>
		ORDER BY u.uni_name
	</select>
	
	<insert id="insertUni">
		<selectKey keyProperty="uniNo" resultType="int" order="BEFORE">
			SELECT seq_uni.NEXTVAL FROM dual
		</selectKey>
		INSERT INTO university VALUES(#{uniNo}, #{uniName})
	</insert>

	<update id="updateUni">
		UPDATE university
		SET uni_name = #{uniName}
		WHERE uni_no = #{uniNo}
	</update>
	
	<update id="updateUniStatus">
		UPDATE university
		SET status = #{status}
		WHERE uni_no = #{uniNo}
	</update>
	<!--★★★★★★★★★★★★★★★★★ 학교관리 END ★★★★★★★★★★★★★★★★★ -->
	
	<!--☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ 신고관리 START ☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆☆ -->
	<select id="selectReportList" parameterType="map" resultType="Report">
		SELECT
			R.REPORT_NO AS reportNo,
			CASE
				WHEN R.TARGET_TYPE = 'BOARD' THEN '게시글'
				WHEN R.TARGET_TYPE = 'REPLY' THEN '댓글'
				ELSE R.TARGET_TYPE
			END AS contentType,
			CASE
				WHEN R.TARGET_TYPE = 'BOARD' THEN BW.MEM_NAME
				WHEN R.TARGET_TYPE = 'REPLY' THEN RW.MEM_NAME
			END AS writerName,
			CASE
				WHEN R.TARGET_TYPE = 'BOARD' THEN B.CREATE_DATE
				WHEN R.TARGET_TYPE = 'REPLY' THEN RP.CREATE_DATE
			END AS contentCreateDate,
			RR.REASON_NAME AS reasonName,
			M.MEM_NAME AS reportMemName,
			R.CREATE_DATE AS reportDate,
			R.TARGET_TYPE AS targetType,
			R.TARGET_NO AS targetNo,
			CASE
				WHEN R.TARGET_TYPE = 'BOARD' THEN U1.UNI_NAME
				WHEN R.TARGET_TYPE = 'REPLY' THEN U2.UNI_NAME
			END AS uniName,
			CASE
				WHEN R.TARGET_TYPE = 'BOARD' THEN B.BOARD_NO
				WHEN R.TARGET_TYPE = 'REPLY' THEN RB.BOARD_NO
			END AS boardNo
		FROM REPORT R
		LEFT JOIN REPORT_REASON RR
			ON R.REASON_NO = RR.REASON_NO
	
		-- 게시글 신고
		LEFT JOIN BOARD B
			ON R.TARGET_TYPE = 'BOARD'
			AND R.TARGET_NO = B.BOARD_NO
		LEFT JOIN MEMBER BW
			ON B.BOARD_WRITER = BW.MEM_NO
		LEFT JOIN UNI_BOARD_TYPE UBT1
			ON B.UBTYPE_NO = UBT1.UBTYPE_NO
		LEFT JOIN UNIVERSITY U1
			ON UBT1.UNI_NO = U1.UNI_NO
	
		-- 댓글 신고
		LEFT JOIN REPLY RP
			ON R.TARGET_TYPE = 'REPLY'
			AND R.TARGET_NO = RP.REPLY_NO
		LEFT JOIN MEMBER RW
			ON RP.REPLY_WRITER = RW.MEM_NO
		LEFT JOIN BOARD RB
			ON RP.BOARD_NO = RB.BOARD_NO
		LEFT JOIN UNI_BOARD_TYPE UBT2
			ON RB.UBTYPE_NO = UBT2.UBTYPE_NO
		LEFT JOIN UNIVERSITY U2
			ON UBT2.UNI_NO = U2.UNI_NO
	
		-- 신고자
		LEFT JOIN MEMBER M
			ON R.REPORT_MEM = M.MEM_NO
	
		<where>
			<if test="uniNo != 0">
				(
					(R.TARGET_TYPE = 'BOARD' AND UBT1.UNI_NO = #{uniNo})
					OR
					(R.TARGET_TYPE = 'REPLY' AND UBT2.UNI_NO = #{uniNo})
				)
			</if>
		</where>
	
		ORDER BY R.REPORT_NO DESC
	</select>
	
	<!--★★★★★★★★★★★★★★★★★ 신고관리 END ★★★★★★★★★★★★★★★★★ -->
	
	
</mapper>