<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="mypage">

    <select id="friendList"
            resultType="friends">

        SELECT
            M.MEM_NO,
            M.MEM_NAME,
            M.PROFILE_IMG,
            F.STATUS
        FROM FRIEND F
        JOIN MEMBER M
          ON (
               CASE
                   WHEN F.SENDER_NO = #{memNo}
                        THEN F.RECEIVER_NO
                   ELSE F.SENDER_NO
               END
             ) = M.MEM_NO
        WHERE (F.SENDER_NO = #{memNo}
           OR  F.RECEIVER_NO = #{memNo})
        AND F.STATUS = 'Y'

    </select>

</mapper>