<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="attendance">
	<insert id="insertAtt">
		INSERT INTO attendance
		VALUES(#{memNo}, NULL, DEFAULT)
	</insert>

	<select id="selectAtt" resultType="Attendance">
		SELECT
		a.MEM_NO,
		a.ATTEND_DAYS,
		a.COUNT,
		NVL(p.POINT, 0) AS point
		FROM ATTENDANCE a
		LEFT JOIN USER_POINT
		p ON (a.MEM_NO = p.MEM_NO)
		WHERE
		a.MEM_NO = #{userNo}
	</select>

	<update id="updateAtt">
		UPDATE ATTENDANCE
		SET ATTEND_DAYS = SYSDATE, COUNT =
		COUNT + 1
		WHERE MEM_NO = #{memNo}
	</update>


	<update id="updateUserPoint" parameterType="map">
		MERGE INTO USER_POINT p
		USING DUAL ON (p.MEM_NO = #{memNo})
		WHEN MATCHED THEN
		UPDATE SET p.POINT = p.POINT + #{amount}
		WHEN NOT MATCHED THEN
		INSERT (MEM_NO, POINT) VALUES (#{memNo}, #{amount})
	</update>


</mapper>