<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="schedule">

	<resultMap id="scheduleResultSet" type="Schedule">
		<id column="SCHEDULE_NO" property="scheduleNo" />
		<result column="MEM_NO" property="memNo" />
		<result column="SCHTITLE_NO" property="schtitleNo" />
		<result column="SCHTITLE_NAME" property="schtitleName" />
		<result column="LECTURE_NO" property="lectureNo" />
		<result column="LECTURE_NAME" property="lectureName" />
		<result column="SCHEDULE_DAY" property="scheduleDay" />
		<result column="START_TIME" property="startTime" />
		<result column="END_TIME" property="endTime" />
	</resultMap>


	<!-- 내가 저장한 시간표들 불러오기 -->
	<select id="selectList" parameterType="_int"
		resultMap="scheduleResultSet">
		SELECT
			S.SCHEDULE_NO, S.MEM_NO, S.SCHTITLE_NO,
			T.SCHTITLE_NAME, S.LECTURE_NO, L.LECTURE_NAME,
			S.SCHEDULE_DAY,
			S.START_TIME, S.END_TIME
		FROM SCHEDULE S
		JOIN SCHEDULE_TITLE T ON (S.SCHTITLE_NO = T.SCHTITLE_NO)
		JOIN LECTURE L ON (S.LECTURE_NO = L.LECTURE_NO)
		WHERE S.MEM_NO = #{memNo}
	</select>


	<!-- 강의 검색 -->
	<select id="searchLecture" parameterType="map"
		resultType="Lecture">
		SELECT
			L.*, D.DEPT_NAME
		FROM LECTURE L
		JOIN DEPARTMENT D ON (L.DEPT_NO = D.DEPT_NO)
		WHERE D.UNI_NO = (
			SELECT D.UNI_NO
			FROM MEMBER M
			JOIN DEPARTMENT D ON (M.DEPT_NO = D.DEPT_NO)
			WHERE M.MEM_NO = #{memNo}
		)
		<if test="keyword != null and keyword != ''">
			AND L.LECTURE_NAME LIKE '%' || #{keyword} || '%'
		</if>
	</select>


	<!-- 시간표 내의 강의 삭제 -->
	<delete id="deleteSchedule" parameterType="Schedule">
		DELETE FROM SCHEDULE
		WHERE MEM_NO = #{memNo}
		AND SCHTITLE_NO = #{schtitleNo}
	</delete>


	<!-- 시간표 삭제 -->
	<delete id="deleteScheduleTitle" parameterType="Schedule">
		DELETE FROM
		SCHEDULE_TITLE
		WHERE SCHTITLE_NO = #{schtitleNo}
	</delete>


	<!-- 시간표 내의 강의 추가 -->
	<insert id="insertSchedule" parameterType="Schedule">
		INSERT INTO SCHEDULE (
			SCHEDULE_NO, MEM_NO, SCHTITLE_NO,
			LECTURE_NO, SCHEDULE_DAY, START_TIME, END_TIME
		)
		VALUES (
		SEQ_SCHEDULE.NEXTVAL,
		#{memNo},
		#{schtitleNo},
		#{lectureNo},
		#{scheduleDay},
		#{startTime},
		#{endTime}
		)
	</insert>

	<!-- 시간표 추가 -->
	<insert id="insertScheduleTitle" parameterType="Schedule">
		<selectKey keyProperty="schtitleNo" resultType="_int"
			order="BEFORE">
			SELECT SEQ_SCHTITLE.NEXTVAL FROM DUAL
		</selectKey>
		INSERT INTO SCHEDULE_TITLE (SCHTITLE_NO, SCHTITLE_NAME)
		VALUES(#{schtitleNo}, #{schtitleName})
	</insert>

</mapper>